<div class="row">
  <div class="col s12" >
    <div class="card">
      <div class="card-panel">
          
          <table class="blue-text text-darken-2">
              <thead>
                <tr>
                    <th>Food Name</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Add Rating</th>
                </tr>
              </thead>
              <app-loading-spinner *ngIf="showSpinnerF"></app-loading-spinner>
              <tbody >
                <tr *ngFor="let rec of recomFood; let i = index">
                  <td>{{rec.itemId}}</td>
                  <td>{{rec.itemType}}</td>
                  <td>{{rec.location}}</td>
                      <form #form="ngForm" (ngSubmit)="onSubmitF(rec.itemId,i)">
                          <div class="input-field col s3 m7">
                            <input #name type="range" min="0" max="5" value={{i}} name={{i}} [(ngModel)]="valueF[i]" required />
                          </div>
                          <div>
                            <button type="submit" class="btn-floating btn waves-effect waves-light red">
                              <i class="material-icons">add</i>
                            </button>
                          </div>
                      </form>    
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12" >
      <div class="card">
        <div class="card-panel">
            
            <table class="blue-text text-darken-2">
                <thead>
                  <tr>
                      <th>Movie Name</th>
                      <th>Type</th>
                      <th>Location</th>
                      <th>Add Rating</th>
                  </tr>
                </thead>
                <app-loading-spinner *ngIf="showSpinnerM"></app-loading-spinner>
                <tbody >
                  <tr *ngFor="let rec of recomMovie; let i = index">
                    <td>{{rec.itemId}}</td>
                    <td>{{rec.itemType}}</td>
                    <td>{{rec.location}}</td>
                        <form #form="ngForm" (ngSubmit)="onSubmitM(rec.itemId,i)">
                            <div class="input-field col s3 m7">
                              <input #name type="range" min="0" max="5" value={{i}} name={{i}} [(ngModel)]="valueM[i]" required />
                            </div>
                            <div>
                              <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                        </form>    
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
