
      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" required>
            <label data-error="Required field!">User Name</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required  minlength="3">
            <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
            <label data-error="Invalid email!">email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName">
            <label>First Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName">
            <label>Last Name</label>
          </div>
        </div>
          <div class="row" class="input-field col s12">
            <h6>Food Preference</h6>
          </div>
          <div *ngFor="let type of foodTypes">
               <input type="checkbox" id="{{type.name}}" name="{{type.name}}" value="{{type.value}}" [(ngModel)]="type.selected">
                  <label for="{{type.name}}"><span>{{type.name}}</span></label>
          </div>

          <div class="row" class="input-field col s12">
           <h6>Movie Preference</h6>
           </div>
           <div *ngFor="let gen of movieGens">
              <input type="checkbox" id="{{gen.name}}" name="{{gen.name}}" value="{{gen.value}}" [(ngModel)]="gen.selected">
                 <label for="{{gen.name}}"><span>{{gen.name}}</span></label>
         </div>
         <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        

        
        <div class="row">
            <div class="input-field col s12">
              <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
            </div>
          </div>
      </form>
      
      
      